@import './base.css';
html {
  scroll-behavior: smooth;
}
#app {
  min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-300
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-green-400
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  @apply bg-green-500
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
